.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 36vh;
}

.fighter-detail {
  width: 200px;
  background: #fff;
  border: 1px solid #e2e2e2;
  padding: 15px;
  box-sizing: border-box;
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.25);
  box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.25);
}

.fighter-detail .fighter-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
  font-size: 24px;
  font-family: 'Arial Black';
  font-weight: 700;
  line-height: 1;
}